body {
  background-image: url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
}

#title {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px;
  margin: 0px;
  width: 100%;
  background-color: #62C2CE;
  text-align: center;
  z-index: 10;
  font-family: 'JustLettersMedium';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
}

img {
  margin-left: 5px;
  margin-top: 10px;
}

#container {
  margin-top: 20%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* Creates 8 equal-width columns */
  grid-gap: 0px;
}

.row {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* Ensures each row has 8 columns */
  grid-gap: 0px;
}

.white, .black {
  border: 1px solid black;
  height: 60px;
}

.white {
  background-color: white;
}

.black {
  background-color: #787878;
}

#footer {
  border: solid 1px;
  padding: 10px;
  margin: 10px;
}
