#title {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: lightyellow;
    text-align: center;
    z-index: 10;
    font-family: 'JustLettersMedium';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
}

body {
  background-image: url("https://t3.ftcdn.net/jpg/07/35/44/76/360_F_735447660_Mb1mTmfff8EhrRuornYjGkE9JlGUk4lP.jpg");
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
  font-family: Arial, sans-serif;
}

#container {
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.row {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

.white {
    border: 1px solid black;
    width: 10%;
    height: 60px;
    background-color: white;
    float: left;
}

.black {
    border: 1px solid black;
    width: 10%;
    height: 60px;
    background-color: #787878;
    float: left;
}

#clear {
    clear: both;
}

.white img, .black img {
  width: 50px;  
  height: 50px;
}
