body {
    background-image: url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
    background-size: cover; 
}

#title {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 0;
    width: 100%;
    background-color: #62C2CE;
    text-align: center;
    z-index: 10;
    font-family: 'JustLettersMedium';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
}

img {
    margin-left: 5px;
    margin-top: 10px;
    vertical-align: middle; 
}

#container {
    margin-top: 20%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5%;
}

.row {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

.white, .black {
    border: 1px solid black;
    width: 12.5%; 
    height: 60px;
    box-sizing: border-box;
    float: left;
}

.white {
    background-color: white;
}

.black {
    background-color: #787878;
}

.clear {
    clear: both;
}

#footer {
    border: solid 1px;
    padding: 10px;
    margin: 10px;
}
