body {
    background-image: url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
    <!--Yuval-->
}

#title { <!-- this is the title style so that it is centered and correct font as well as size(HanShiuan made Yuval fixed so that it matches new html)-->
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 0;
    width: 100%;
    background-color: #62C2CE;
    text-align: center;
    z-index: 10;
    font-family: 'JustLettersMedium';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
}

img { <!--this is making sure all the images are on the chess board boxes where they should be(Yuval)-->
    margin-left: 5px;
    margin-top: 10px;
    vertical-align: middle; 
}

#container { <!--making sure the actual chess board is in the center of the screen(HanShiuan)-->
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.row { <!-- all the rows in the correct spots(HanShiuan)-->
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

.white, .black { <!--making the colors of the boxes be black and white so that when this is called it is one of them(HanShiuan)-->
    border: 1px solid black;
    width: 10%; 
    height: 60px;
    float: left;
}

.white { <!-- white color(HanShiuan)-->
    background-color: white;
}

.black { <!-- black color(HanShiuan)-->
    background-color: #787878;
}

.clear { <!--cleared at the end of each row so that rows dont overlap(Yuval)-->
    clear: both;
}

#footer { <!-- added correct format for footer(Yuval)-->
    border: solid 1px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

